@import '~sass/variables';
@import '~sass/mixins';

.section-showcase{
    height:$showcase-height;
    background: url(#{$img-path}/bg-image.jpg) no-repeat top center;
    background-size: cover;

    .showcase-content{
        padding: 80px 15px 30px 15px;
        text-align: center;
    }
}
    /* .text-title {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
    }
    
    .text-title h1 {
        margin-top: 0%;
        margin-left: 60px;
        font-size: 2.5em;
        text-align: left;
        margin-bottom: 0.5em; 
        font-weight: 700;
        //color: white;
        //color: #f2f2f2;
        text-shadow: 3px 2px 2px #000000;
    } */

    .text-title{
        vertical-align: middle;
        padding-top: 0 !important;
        padding-bottom: 1% !important;
        margin-left: 60px;
    }
    
    .text-title h1 { 
        font-size: 45px !important; 
        font-weight: 620;
        line-height: 55px !important;
        letter-spacing: 2px !important; 
        text-align: left;
        text-shadow: 3px 2px 2px #000000;
      }

    .leed{
        letter-spacing: 1px !important; 
        //font-weight: 100 !important;
        padding: 0px 0 30px 60px;
        text-align: left;
        color: $light-color;
    }

    @media only screen and (max-width: 768px) {
        .showcase-content{
            padding: 60px 0 20px 0;
            text-align: center;
        }
        .leed {
            padding: 0;
            text-align: center;
            color: $light-color;
        }

        h1{
            font-size: 22px;
            text-align: center;
            color:$primary-color;
        }

        /* .text-title {
            display: table-cell;
            vertical-align: middle;
            text-align: center !important;
        }

        .text-title h1 {
            margin-top: 20px !important;
            margin-left: 20px;
            font-size: 2em;
            margin-bottom: 10px; 
            font-weight: 400;
            //color: white;
            //color: #f2f2f2;
            text-shadow: 3px 2px 2px #000000;
        } */

        .text-title{
            vertical-align: middle;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin: 0px;
        }
        
        .text-title h1 { 
            font-size: 32px !important; 
            font-weight: 420;
            line-height: 40px !important;
            letter-spacing: 0.3px !important; 
            text-align: center;
            text-shadow: 3px 2px 2px #000000;
          }

        
        .btn-resume-project{
            background: #ffffff;
            height: 50px !important;
            width: 150px !important;
            padding: 0 !important;
            //@include add-background($primary-color);
            @include add-border(2px, #ffffff, all);
            border-radius: 5px;
        }
        
        .btn-resume-project-text{
            color:$dark-color;
            font-weight: normal !important;
            font-size: 14px !important;
            font-family: Roboto;
            line-height: 5px;
            float: left;
            margin-top: 15 !important;
            margin-left: 0 !important;
            text-align: left !important;
        }
        
        .fa-7{
            margin-top: 15px !important;
            margin-left: 0 !important;
            font-size:25px !important;
            color:$light-color;
            float: left !important;
        }
}
    
    


/* Search box */
.search{
    width: 100%;

    h3{
        margin-top:0;
        padding-top:0;
    }

    input[type=search]{
        border:0;
        height: 40px;
        width: 70%;
        border: 2px solid $primary-color;
        font-size: 18px;
        padding-left: 10px;
        padding-bottom: 5px;
    }

    button{
        border: 0;
        background: none;
        padding:0;
        vertical-align: top;
        margin-left: -5px;
    }
}

.btn-resume-project{
    background: #ffffff;
    height: 55px;
    width: 200px;
    padding: 0;
    //@include add-background($primary-color);
    @include add-border(2px, #ffffff, all);
    border-radius: 5px;
    text-align: center !important;
}

.btn-resume-project:hover{
    background:darken(#ffffff,10%) !important;
    @include add-border(2px, $primary-color, all);
}

.fa-7{
    padding: 0 !important;
    margin: 5px 5px 0 25px !important;
    font-size:40px;
    color:$light-color;
    float: left !important;
}

.btn-resume-project-text{
    color:$dark-color;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
    font-family: Roboto;
    line-height: 5px;
    float: left;
    margin-top: 25px;
    text-align: center !important;
}