<div class="resummeBody">
<div class="container">
<div class="row">
    <div class="col-sm-12 col-lg-10 offset-lg-1 text-left">          
      <div class="resumeContainer">
        <div style="text-align: center; font-size: 1.5em; font-weight: bold; margin-top: 1.5em;">Khiem Le
        </div>
        <div style="text-align: center;">
          (US Citizen)<br>
          Annandale, Virginia | <a href="mailto:khiemle.dc@gmail.com">khiemle.dc@gmail.com</a> | 202-247-1475 | <a href="https://khiemdc.github.io/portfolio/index.html" target="_blank">Portfolio</a> | <a href="https://www.linkedin.com/in/khiem-le-070770142/" target="_blank">LinkedIn</a> | <a href="https://github.com/khiemdc" target="_blank">Github repo</a>
        </div>
        <div style="text-align: left;">
          <hr>
          <p><i>I am well-rounded and a experienced in computer networking, technical, and digital media industries.  Determined in becoming a full-time web developer in a positive, mission driven working environment. In addition, I have expanded my understandings with different technologies such Angular 4/Typescript, HTML5, CSS3, SASS, Javascript, JQuery, ReactJS, Node JS, Express, MySQL, MongoDB, Handlebars, Python, Java, Django/Python, and many others. Bootstrap, Materialize, Firebase, API RESTful Services, CRUD, Ionic Mobile Framework, Responsive Design.</i></p> 
          <hr>
          
          <h6>SKILLS:</h6>
          <p-2>• Languages: Typescript/Angular 4, Javascript, Python, Java.</p-2> <br>
          <p-2>• Databases: MySQL, MongoDB, Node JS, Express, Firebase</p-2><br>
          <p-2>• Software Programming: C, C+, Python</p-2><br>

          <p-2>• Design: Adobe XD, Photoshop, Adobe Premiere, Illustrator, InDesign and PageMaker.</p-2><br>

          <p-2>• Experienced in Web Design, Graphic Design, Video Editing, and Multimedia Editor.</p-2>
          
          <h6>EDUCATION:</h6>
            <p>        
              George Washington University<br>
                <p-2>• Web Development Coding Certificate Full Stack Web Development</p-2><br>
                <p-3>• An intensive full time boot camp dedicated to designing and building web applications.</p-3><br><p-3> MySQL, MongoDB, Express, Handlebars JS, & React Js.</p-3>
             </p>

             <p>
              Danang Polytechnic University <br>
                <p-2>• Bachelor Degree in Electronics and Communication Engineering.</p-2> <br>
                <p-2>• Master Degree in Computer Information Technology.</p-2> <br>
                  <p-3>• Teacher in data structure subject after my graduation.</p-3>
             </p>
            
            <h6>RELEVANT EXPERIENCE:</h6>        
              <p>
                May 2017 - Present: <b>Web Developer </b>(SoftNetTech Services, Fairfax, VA)<br>
                March 2014 – May 2017: <b>Senior Multimedia Editor, RFA </b>(Radio Free Asia, Washington DC)<br>
                July 2012 – March 2014: <b>Multimedia Editor, RFA</b><br>
                Oct 2010 - June 2012: <b>Web Editor Supervisor, RFA</b><br>
                June 2008 - Oct 2010: <b>Web Editor, RFA</b><br>
                July 2006 – June 2008: <b>Production Coordinator, RFA</b><br>
                May 2005 - March 2006: <b>Network System Administrator, Acorn Networks</b> (Vienna, Virginia)
              </p>

              <h6>APPLICATIONS BUILT:</h6>   
              <p>
                <b>Life is Beautiful</b><br>
                <p-2>• Life is Beautiful App will provide an advantage by giving specifics of your move. Some of the most important factors in your decision will be Cost of Living, employment  statistics, population demographics in the area you’re aiming to move to, employment statisitics, and so forth.</p-2><br>
                <p-2>• Lead developer of a group of three. <a href="https://warm-reef-51471.herokuapp.com/">https://warm-reef-51471.herokuapp.com/</a></p-2><br>
                <p-2>• <a href="https://github.com/khiemdc/Life-is-Beautiful">https://github.com/khiemdc/Life-is-Beautiful</a></p-2><br>
                <p-2>•Tools used: Node.js, MySQL, Express, HandlebarsJS, Materialize, jQuery, APIs, Ajax, JSON</p-2>
              </p>
              <p>
                <b>Smart Grocer:</b><br> 
                <p-2>• Lead back-end developer created a MERN stack (MongoDB/Express/React/Node.js) app to help shoppers to avoid grocery shopping hassle:</p-2><br>
                <p-2>• <a href="https://smartgrocery.herokuapp.com/">https://smartgrocery.herokuapp.com/</a></p-2><br>
                <p-2>• Tools used: React.JS, Node.JS, MongoDB, Express, jQuery, APIs, Ajax, JSON.</p-2>
              </p>
              <p>
                <b>Dive into DC</b><br>
                <p-2>• The Dive into DC app allows Washington DC travelers to personalize an itinerary depending on how many days the user will be staying in DC. After the user has selected one option from each of the three rows, a personalized itinerary will appear in the div below with the exact location of each place on the map to the right.</p-2><br>
                <p-2>• <a href=" https://khiemdc.github.io/DiveIntoDC-Materialize/index.html"> https://khiemdc.github.io/DiveIntoDC-Materialize/index.html</a></p-2><br>
                <p-2>• Tools used: HTML, CSS, Javascript, jQuery, Materialize, Ajax, Google Maps API, Google Places API, Weather API, JSON.</p-2>
              </p>
            </div>
            <!-- email -->    
            <center>
              <a href="khiemle.dc@gmail.com" class="cta-button">  Email Me  <span class="arrow-right">&#8594;</span></a>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>

      
 
 
 

 
 

 