<!-- <section class="quote">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <blockquote class="blockquote blockquote-reverse">
          <h2 class="page-header"><strong>Building technology to shape our future</strong></h2>          
        </blockquote>
      </div>
    </div>
  </div>
</section>
-->
<section class="section-primary-a">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><strong>Building technology to shape our future</strong></h2>
				</div>
			</div>
		</div>
	</section>