<section class="portfolio">
<div class="container">
    <h1 id="subTitle" class="mb-5 mt-5 animated slideInUp">Sample Projects</h1>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="portfolio-item">
              <p id="projectTitle">• LIFE IS BEAUTIFUL</p>
                <p>Lead group of three created a Node.js App including MySQL, Sequelize, Express, Handlebars JS, Materialize, jQuery, Ajax, JSON provides an advantage by giving specifics of your move.</p>
            <div style="margin-left: 10%;">
                <a href="https://life-is-beautiful.herokuapp.com/" target="_blank" class="btn-project btn btn-warning"><i class="fa fa-paper-plane"></i>&nbsp;VISIT WEBSITE</a>
            </div>
        </div>
    </div> 
    <div class="col-sm-12 col-md-6">
        <div class="portfolio-item">
            <a href="https://life-is-beautiful.herokuapp.com/" target="_blank">
                <img class="img-portfolio img-fluid" src="./assets/img/lifeisbeautiful.jpg">
            </a>
        </div>
    </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="portfolio-item">
                <a href="https://smartgrocery.herokuapp.com/" target="_blank"><img class="img-portfolio img-fluid" src="./assets/img/smart-grocer.jpg"></a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="portfolio-item">
                <p id="projectTitle">• SMART GROCER</p>
                <p>Lead back-end developer created a MERN stack (MongoDB/Express/React/Node.js) app to help people to avoid grocery shopping hassle.</p>
                <div style="float: right;">
                    <a href="https://smartgrocery.herokuapp.com/" target="_blank" class="btn-project btn btn-warning"><i class="fa fa-paper-plane"></i>&nbsp;VISIT WEBSITE</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="portfolio-item">
                <p id="projectTitle">• DIVE INTO DC</p>
                <p>An application for DC travelers that want a personalized itinerary based on individual needs.<br>
                    Tools Used: HTML, CSS, Javascript, jQuery, Bootstrap, Ajax, Google Maps API, Google Places API, OpenWeather API, JSON.</p>
                <div style="float: right;">
                <a href="https://khiemdc.github.io/DiveIntoDC-Materialize/index.html" target="_blank" class="btn-project btn btn-warning"><i class="fa fa-paper-plane"></i>&nbsp;VISIT WEBSITE</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="portfolio-item">
                <a href="https://khiemdc.github.io/DiveIntoDC-Materialize/index.html" target="_blank"><img class="img-portfolio img-fluid" src="./assets/img/diveintodc.jpg"></a>
            </div>
        </div>  
        </div>
    </div>
</section>

<!-- Quote -->
<app-quote></app-quote>

<section class="portfolio">
    <div class="container">
        <div class="row">
          <div class="col-md-4">
              <div class="card">
                  <div class="view overlay hm-white-slight">
                      <a href="https://powerful-depths-26391.herokuapp.com/" target="_blank">
                         <img class="img-portfolio img-fluid" src="./assets/img/OpenClose.png">
                      </a>
                         <a><div class="mask"></div></a>
                  </div>
                  <div class="card-body">
                     <h4 class="card-title">Friend Finder</h4>
                      <hr>
                      <p class="card-text">Basic app demonstrating HTML5, CSS3, JavaScript, Node JS, Express JS, Handlebars JS, APIs and jQuery. <br>This dating app takes in results from your users' surveys, compares with those from other users. <br>The app then displays the name and picture of the user with the best overall match.</p>
                      <a href="#"><i class="btn-floating btn-action fa fa-chevron-right"></i></a>
                  </div>
              </div>
          </div>
  
          <div class="col-md-4">
              <div class="card">
                  <div class="view overlay hm-white-slight">
                      <a href="https://fierce-ocean-76401.herokuapp.com/" target="_blank">
                         <img class="img-portfolio img-fluid" src="./assets/img/VirtualBookshelf.png">
                      </a>
                         <a><div class="mask"></div></a>
                  </div>
                  <div class="card-body">
                     <h4 class="card-title">Scrape The News</h4>
                      <hr>
                      <p class="card-text">A web app that lets users view and leave comments on the latest news. The comments be saved to the database as well and associated with their articles. Users also be able to delete comments left on articles. All stored comments visible to every user.<br>
                      Tools Used: NodeJs, express, MongeDB, express-handlebars, News API Json.</p>
                      <a href="#"><i class="btn-floating btn-action fa fa-chevron-right"></i></a>
                  </div>
              </div>
          </div>
  
          <div class="col-md-4">
              <div class="card">
                  <div class="view overlay hm-white-slight">
                      <a href="https://github.com/khiemdc/ReactNYT/" target="_blank">
                         <img class="img-portfolio img-fluid" src="./assets/img/nyt.png">
                      </a>
                         <a><div class="mask"></div></a>
                  </div>
                  <div class="card-body">
                     <h4 class="card-title">React NYT Search</h4>
                      <hr>
                      <p class="card-text">Basic MERN stack to create a New York Times search engine, use the React mounting lifecycle to query and display articles based on user searches.
                      <br>
                      I used Mongo as a database, Express for the routes, React for the reactive design of the page, and Node as the engine so that users can save articles to read later.</p>
                      <a href="#"><i class="btn-floating btn-action fa fa-chevron-right"></i></a>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </section>

<!-- email -->    

     <center>
     <a href="khiemle.dc@gmail.com" class="cta-button">  Email Me  <span class="arrow-right">&#8594;</span></a>

     </center>
