<app-showcase></app-showcase>

<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <!--Carousel Wrapper-->
        <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
          <!--First slide-->
          <mdb-slide>
              <div class="view hm-black-light">
                  <img class="d-block w-100" src="./assets/img/lifeisbeautiful.jpg" alt="First slide">
                  <div class="mask waves-light" mdbRippleRadius></div>
              </div>
              <div class="carousel-caption">
                  <h3 class="h3-responsive"></h3>
                  <p>A Node.js App including MySQL, Sequelize, Express, Handlebars.js, Materialize, jQuery, Ajax, API, JSON.</p>
              </div>
          </mdb-slide>
          <!--/First slide-->
          <!--Second slide-->
          <mdb-slide>
              <div class="view hm-black-slight">
                  <img class="d-block w-100" src="./assets/img/smart-grocer.jpg" alt="Second slide">
                  <div class="mask waves-light" mdbRippleRadius></div>
              </div>
              <div class="carousel-caption">
                  <h3 class="h3-responsive"></h3>
                  <p>MEARN App using MongoDB, Express.js, React.js and Node.js</p>
              </div>
          </mdb-slide>
          <!--/Second slide-->
          <!--Third slide-->
          <mdb-slide>
              <div class="view hm-black-strong">
                  <img class="d-block w-100" src="./assets/img/diveintodc.jpg" alt="Third slide">
                  <div class="mask waves-light" mdbRippleRadius></div>
              </div>
              <div class="carousel-caption">
                  <h3 class="h3-responsive">Dive into DC</h3>
                  <p>Travel app using Google APIs, OpenWeather API, JSON, Javascript, jQuery.</p>
              </div>
          </mdb-slide>
          <!--/Third slide-->
        </mdb-carousel>
        <!--/.Carousel Wrapper-->
        <h2 class="page-header heading-primary-a"><strong>About me</strong></h2>
        <p>I am well-rounded and a experienced in computer networking, technical, and digital media industries. Determined in becoming a full-time web developer in a positive, mission driven working environment. In addition, I have expanded my understandings with different technologies such Angular 4/Typescript, HTML5, CSS3, SASS, Javascript, JQuery, ReactJS, Node JS, Express, MySQL, MongoDB, Handlebars, Python, Java, Django/Python, and many others. Bootstrap, Materialize, Firebase, API RESTful Services, CRUD, Ionic Mobile Framework, Responsive Design.</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <!--<h2 class="page-header"><span class="em-primary">What</span> I do</h2>-->
        <ul class="list list-feature">
						<li><i class="fa fa-check fa-4 fa-primary"></i> <span>SPA Development</span></li>
						<li><i class="fa fa-check fa-4 fa-primary"></i> <span>Experienced in Angular, React</span></li>
						<li><i class="fa fa-check fa-4 fa-primary"></i> <span>Develop Responsive Website</span></li>
            <li><i class="fa fa-check fa-4 fa-primary"></i> <span>Website Design, Video Editing</span></li>
            <li><i class="fa fa-check fa-4 fa-primary"></i> <span>Data Structures & Algorithms</span></li>
					</ul>
			
        <!--Comments -->
        <div class="block block-primary-head no-pad">
          <!--<h3><i class="fa fa-comment"></i>People say about me</h3>-->
          <div class="block-content">
            <ul class="list-comments">
              <!--<li>
                <img src="./assets/img/bg.jpg" class="pull-left rounded-circle">
                <p><em>"Khiem shines as a web editor at RFA, especially through his initiative and creativity. He is known as an individual with a ton of ideas"</em>. RFA management</p>
              </li>-->
              <li>
                  <img src="./assets/img/Chris-Reference.jpg" class="pull-left">
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!--
<section class="sample-project">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="block block-light block-center block-image block-border">
          <img src="./assets/img/headshot1.jpg">
          <h3>Life is Beautiful</h3>
          <p>A MEARN App provide.... </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="block block-center block-image block-border">
          <img src="./assets/img/headshot2.jpg">
          <h3>Smart Grocer</h3>
          <p>Smart Grocer app help...</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="block block-light block-center block-image block-border">
          <img src="./assets/img/headshot3.jpg">
          <h3>Drive into DC</h3>
          <p>Drive into DC app... </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-primary">
  <div class="container">
    <h2 class="page-header">Skills</h2>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="block block-icon">
          <div class="icon">
            <i class="fa fa-home fa-3"></i>
          </div>
          <div class="icon-content">
            <h3>HTTP5, CSS3, JavaScript</h3>
            <p>http, css, sass, reactJS</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="block block-icon">
          <div class="icon">
            <i class="fa fa-home fa-3"></i>
              <div class="icon-content">
                <h3>Angualr, ReactJS, TypeScript</h3>
                <p>Angualr, ReactJS, TypeScript, Angualr, ReactJS, TypeScript</p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="block block-icon">
          <div class="icon">
            <i class="fa fa-home fa-3"></i>
            <div class="icon-content">
              <h3>Java, Python, Django</h3>
              <p>Java, Python, Django, Java, Python, Django</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--second row -->
    <!--
    <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="block block-icon">
            <div class="icon">
              <i class="fa fa-home fa-3"></i>
            </div>
            <div class="icon-content">
              <h3>HTTP5, CSS3, JavaScript</h3>
              <p>http, css, sass, reactJS</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="block block-icon">
            <div class="icon">
              <i class="fa fa-home fa-3"></i>
                <div class="icon-content">
                  <h3>Angualr, ReactJS, TypeScript</h3>
                  <p>Angualr, ReactJS, TypeScript, Angualr, ReactJS, TypeScript</p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="block block-icon">
            <div class="icon">
              <i class="fa fa-home fa-3"></i>
              <div class="icon-content">
                <h3>Java, Python, Django</h3>
                <p>Java, Python, Django, Java, Python, Django</p>
              </div>
            </div>
          </div>
          </div>
        </div>
  </div>
</section> -->

<app-download-template></app-download-template>

<app-project></app-project>
